.content {
  min-height: 100%;
}

.content-top {
  position: relative;
  display: block;
  width: 100%;
  margin-top: auto;
}

.toolbar {
  max-width: 1032px !important;
  height: 60px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.toolbar-left {
  width: 60%;
  float: left;
  overflow: hidden;
  display: flex;
  align-items: center!important;
}

.toolbar-left img {
  height: 50px;
  padding-right: 20px;
  padding-left: 60px;
  float: left;
}


/* .toolbar-left span {
  margin-top: auto;
  margin-bottom: auto;
} */

/* move toolbar into next line
/* 
.toolbar-left ul{
  padding: 0px;
  margin: 0px;
  height: 50px;
}

.toolbar-left li {
  display: inline-block;
  width: 70px;
  margin-right: -4px;
  padding-top: 15px;
}

.toolbar-left a {
  float: left;
  display: block;
  text-decoration: none;
} */

.toolbar-right {
  overflow: hidden;
}

.toolbar-right img {
  height: 50px;
  padding-right: 60px;
  padding-left: 60px;
  float: right;
  /* border-radius: 20%;
  border-style: solid; */
}

.toolbar-right img:hover {
  background-color: rebeccapurple;
}

.content-middle {
  display: block;
}

.articles-lastest {
  /* background-color: aqua; */
  float: left;
  width: 65%;
  border-right-style: solid;
}

.articles-lastest h1 {
  margin-left: 40px;
}

.articles-popular {
  /* background-color: blue; */
  float: right;
  width: 30%;
}

.articles-popular h1 {
  margin-left: 40px;
}

.article-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 5px;
}

.article-author {
  font-weight: 300;
  /* background-color: blue; */
  margin-bottom: 1px;
}

.article-description {
  font-weight: 200;
  /* background-color: red; */
  margin-top: 5px;
}

.article-date {
  font-weight: 200;
  /* background-color: tomato; */
  margin-top: 1px;
}

.editor {
  margin-left: 10%;
  margin-right: 10%;
}
